@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}
<div class="image">
    <img src="/images/image-7.jpg">
    <div class="overlay-text"><b>About Us</b></div>
</div>

<div class="container">
    <section class="about-us">
        <h3>Learn more about our mission, vision, and the team behind the project</h3>
    </section>

    <!-- About Section -->
    <section class="about-section">
        <h2>Who We Are</h2>
        <p>
            Welcome to Devalaya,<b>"Where the walls of every temple whisper history, and every prayer becomes a connection to the divine."</b>
            Our mission is to preserve and promote the heritage of Nepal’s
            sacred places by providing detailed and heartfelt information
            about temples,and their histories. Whether you're
            seeking spiritual guidance, historical insights, or simply looking to explore
            the divine beauty of these places, we are here to guide you every step of the way.

            At Devalaya, we believe every temple has a story, and every journey
            leaves an imprint on the soul. Let us help you uncover these stories,
            immerse in the culture, and embrace the spirituality that makes Far-West Nepal truly extraordinary.
        </p>
    </section>


    <!-- Core Values -->
    <section class="values-section">
        <h3>Our Core Values</h3>
        <div class="values-list">
            <div class="values-item">
                <i class="fa-solid fa-heart fa-2x"></i>
                <h5>Passion</h5>
                <p>We are deeply passionate about preserving the rich cultural and spiritual heritage of Nepal.</p>
            </div>
            <div class="values-item">
                <i class="fa-solid fa-globe fa-2x"></i>
                <h5>Global Reach</h5>
                <p>We aim to bring Believers from all corners of the world to experience the sanctity of Nepalese temples.</p>
            </div>
            <div class="values-item">
                <i class="fa-solid fa-users fa-2x"></i>
                <h5>Community</h5>
                <p>We believe in fostering a sense of community between devotees and locals to create meaningful experiences.</p>
            </div>
        </div>
    </section>


    
</div>

</section>


