@model Temple

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Temple</h4>
<hr />
<div class="row">
    <div class="col-8">
        <form asp-action="Create" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Details" class="control-label"></label>
                <textarea rows="10" asp-for="Details" class="form-control"></textarea>
                <span asp-validation-for="Details" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Deity" class="control-label"></label>
                <input asp-for="Deity" class="form-control" />
                <span asp-validation-for="Deity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BuiltYear" class="control-label"></label>
                <input asp-for="BuiltYear" class="form-control" />
                <span asp-validation-for="BuiltYear" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Images" class="control-label"></label>
                <input asp-for="Images" class="form-control" type="file" multiple accept="image/*" />
                <span asp-validation-for="Images" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
