@page
@model ResendEmailConfirmationModel
@{
    ViewData["Title"] = "Resend Email Confirmation";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4 mt-4">
            <div class="card shadow-sm mt-5">
                <div class="card-body">
                    <h2 class="card-title text-center mt-4 mb-3">Resend Email Confirmation</h2>
                    <p class="text-muted text-center">Enter your email to receive a new confirmation link.</p>
                    <hr />

                    <form method="post">
                        <div asp-validation-summary="All" class="text-danger mb-3"></div>

                        <div class="mb-4">
                            <label asp-for="Input.Email" class="form-label"></label>
                            <input asp-for="Input.Email" class="form-control" autocomplete="email" aria-required="true" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>

                        <div class="d-flex justify-content-center mb-5">
                            <button type="submit" class="btn btn-primary w-50">Resend</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
